@import url("~sanitize.css");
@import url("./game-icons.css");
@import url("//fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons");
html, body { width: 100%; height: 100%; }
body { background: #000 url("./background01.jpg") no-repeat center center fixed; background-size: cover; color: rgba(0, 0, 0, 0.87); font-family: Roboto, Helvetica, Arial, sans-serif; color: #fff; }
button, input[type="submit"] { cursor: pointer; }
button:focus, a:focus { outline: none; }
a { color: #fff; }
video::-internal-media-controls-overlay-cast-button { display: none; }

/* Replace drag handle in Google Maps */
.gmaps-player, .gmaps-item, .gmaps-venue { position: absolute; width: 30px; height: 30px; border-radius: 30%; cursor: pointer; transform: translate(-50%, -50%); }
.gmaps-player.clickthrough { pointer-events: none; }
.gmaps-venue { width: 40px; height: 40px; }
  .gmaps-player i, .gmaps-item i { font-size: 2em; color: #424242; }
  .gmaps-venue > * { position: absolute; color: #4caf50; }
  .gmaps-venue.robbed > * { color: #a1887f; }
  .gmaps-venue.exit > * { color: #f50057; }
  .gmaps-venue i { left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 5; font-size: 3em; }
  .gmaps-venue .name, .gmaps-venue .requirements, .gmaps-venue .gain, .gmaps-player .name, .gmaps-player .items, .gmaps-item .name { display: block; pointer-events: none; }
  .gmaps-venue .name, .gmaps-venue .gain, .gmaps-player .name, .gmaps-item .name { position: absolute; left: -30px; top: 40px; width: 100px; text-align: center; font-weight: 700; text-transform: uppercase; text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff; opacity: 0; transition: opacity .4s; }
  .gmaps-player .name, .gmaps-item .name { left: -35px; top: 30px; }
  .gmaps-player.fugitive .name { color: #b71c1c; }
  .gmaps-player.hunter .name { color: #303f9f; }
  .gmaps-item .name { color: #424242; }
  .gmaps-venue .gain { top: 52px; }
  .gmaps-venue.open, .gmaps-venue.open, .gmaps-player.open, .gmaps-item.open { z-index: 1; }
  .gmaps-venue.open .name, .gmaps-venue.open .gain, .gmaps-player.open .name, .gmaps-item.open .name { opacity: 1; }
  .gmaps-venue .requirements, .gmaps-player .items { position: absolute; left: -30px; top: 0px; width: 100px; padding: 0; margin: 0; border-radius: .8em; text-align: center; transition: top .4s; }
  .gmaps-player .items { width: 140px; left: -57px; }
  .gmaps-venue.open .requirements, .gmaps-player.open .items { top: -30px; }
    .gmaps-venue .requirements li, .gmaps-player .items li { display: inline-block; background-color: #fff; border-radius: 50%; padding: .3em; margin: 0 -1.1em; color: #333; opacity: 0; transition: margin .4s, opacity .4s; }
    .gmaps-venue .requirements li:before, .gmaps-player .items li:before { font-size: 1.5em; }
    .gmaps-venue .requirements li.found { color: #777; }
    .gmaps-venue .requirements li.found:after { content: "\2713"; display: block; position: absolute; top: 0; font-size: 1.7em; font-weight: 700; color: #03a9f4; }
    .gmaps-venue.open .requirements li, .gmaps-player.open .items li { margin: 0 .1em; opacity: 1; }  
  
  .gmaps-player i.fugitive:before     { content: "\E629" !important; color: #b71c1c; }
  .gmaps-player i.hunter:before       { content: "\E63D" !important; color: #303f9f; }
  .gmaps-item   i.bullet:before,   ul.inventory i.bullet:before,   .gmaps-player .items li.bullet:before    { content: "\E248" !important; }
  .gmaps-item   i.medkit:before,     ul.pharmacy i.medkit:before      { content: "\EBAE" !important; }
  .gmaps-item   i.bullet:before       { color: #03a9f4; }
  .gmaps-item   i.medkit:before         { color: #e91e63; }
  .gmaps-item   i.ladder:before,      .gmaps-venue .requirements li.ladder:before,      .gmaps-player .items li.ladder:before,      ul.inventory i.ladder:before       { content: "\E6AD" !important; }
  .gmaps-item   i.crowbar:before,     .gmaps-venue .requirements li.crowbar:before,     .gmaps-player .items li.crowbar:before,     ul.inventory i.crowbar:before      { content: "\E214" !important; }
  .gmaps-item   i.flashlight:before,  .gmaps-venue .requirements li.flashlight:before,  .gmaps-player .items li.flashlight:before,  ul.inventory i.flashlight:before   { content: "\E5B0" !important; }
  .gmaps-item   i.poisongas:before,   .gmaps-venue .requirements li.poisongas:before,   .gmaps-player .items li.poisongas:before,   ul.inventory i.poisongas:before    { content: "\E55F" !important; }
  .gmaps-item   i.gasmask:before,     .gmaps-venue .requirements li.gasmask:before,     .gmaps-player .items li.gasmask:before,     ul.inventory i.gasmask:before      { content: "\E55C" !important; }
  .gmaps-item   i.lockpicks:before,   .gmaps-venue .requirements li.lockpicks:before,   .gmaps-player .items li.lockpicks:before,   ul.inventory i.lockpicks:before    { content: "\EAB8" !important; }
  .gmaps-item   i.rope:before,        .gmaps-venue .requirements li.rope:before,        .gmaps-player .items li.rope:before,        ul.inventory i.rope:before         { content: "\E45F" !important; }
  .gmaps-item.glow-blue   i:before     { animation: glow-blue 1s ease-in-out infinite alternate; }
  .gmaps-item.glow-orange i:before     { animation: glow-orange 1s ease-in-out infinite alternate; }
  .gmaps-venue  i.club:before          { content: "\E6F3" !important; }
  .gmaps-venue  i.gasstation:before    { content: "\E49B" !important; }
  .gmaps-venue  i.bookies:before       { content: "\E87F" !important; }
  .gmaps-venue  i.candyshop:before     { content: "\E981" !important; }
  .gmaps-venue  i.penthouse:before     { content: "\E6CC" !important; }
  .gmaps-venue  i.jewelrystore:before  { content: "\E77C" !important; }
  .gmaps-venue  i.casino:before        { content: "\E127" !important; }
  .gmaps-venue  i.museum:before        { content: "\E6A1" !important; }
  .gmaps-venue  i.bank:before          { content: "\E680" !important; }
  .gmaps-venue  i.mint:before          { content: "\EA51" !important; }
  .gmaps-venue  i.exit:before          { content: "\E69A" !important; }
  .gmaps-venue.glow-red   i:before     { animation: glow-red 1s ease-in-out infinite alternate; }
  .gmaps-venue.glow-green i:before     { animation: glow-green 1s ease-in-out infinite alternate; }

.container { position: relative; width: 90%; min-width: 240px; margin: auto; }
  ul.loading { display: block; position: relative; width: 100%; max-width: 540px; margin: 10vh auto 0; padding: 0; border-radius: .5rem; max-height: 80vh; overflow: auto; }
    ul.loading li { display: block; position: relative; width: 100%; padding: .5rem 1rem; overflow: hidden; background-color: #00bcd4; line-height: 24px; }
      ul.loading li > * { display: block; position: relative; float: left; }
      ul.loading li > :first-child { margin-right: 1rem; }
      ul.loading li .note { display: block; position: relative; font-style: normal; width: 100%; font-size: .8em; line-height: 1.2em; padding-left: 3rem; }
  form.enter { display: block; position: relative; width: 100%; max-width: 540px; margin: 2vh auto 0; }
  	form.enter input { display: block; position: relative; float: left; width: 100%; padding: .5rem 1rem; margin: .5rem 0; border: 1px solid #00bcd4; border-radius: .5rem; }
  	form.enter input[type="text"]::placeholder { color: inherit; }
  	form.enter input[type="submit"] { background-color: #00bcd4; }
  .locationpick { width: 100%; }
    .googlemap { width: 100%; height: 70vh; margin: 5vh auto 0; }
    form.location { width: 100%; }
      form.location button, form.location input { display: block; position: relative; float: left; width: 100%; padding: .5rem 1rem; margin: .5rem 0; border: 1px solid #00bcd4; border-radius: .5rem; }
      form.location button, form.location input[type="submit"] { background-color: #00bcd4; }
    ul.players { display: block; position: relative; width: 100%; max-width: 540px; margin: 10vh auto 0; padding: 0; border-radius: .5rem; max-height: 80vh; overflow-x: hidden; overflow-y: auto; }
      ul.players li { display: block; position: relative; width: 100%; padding: .5rem 1rem; overflow: hidden; background-color: #00bcd4; line-height: 2rem; }
        ul.players li > * { float: left; }
        ul.players li span { margin-left: 1rem; }
        ul.players li i { font-size: 1.5rem; line-height: 2rem; }
        ul.players li i:last-child { float: right; }
        ul.players li i.role.hunter:before { content: "\E63D" !important; }
        ul.players li i.role.fugitive:before { content: "\E629" !important; }
        ul.players li i.state { width: 2rem; height: 2rem; text-align: center; border-radius: 50%; background-color: #f44336; }
        ul.players li i.state.ready { background-color: #4caf50; }
        ul.players li i.state.ready:before { content: "\E4BB" !important; }
        ul.players li i.state.biding:before { content: "\E4BE" !important; }
  form.controls { display: block; position: relative; width: 100%; max-width: 540px; margin: 0 auto; }
    form.controls input, form.controls button { display: block; position: relative; float: right; width: 100%; padding: .5rem 1rem; margin: 2vh 0 0; border: 1px solid #00bcd4; border-radius: .5rem; }
    form.controls button[name="whatsapp"] { float: left; background-color: #00bcd4; }
    form.controls input[type="submit"] { background-color: #00bcd4; }
.battlefield { width: 100%; height: 100%; }
  button.fullscreen, button.info { position: absolute; right: 14px; top: 10px; width: 24px; height: 24px; background-color: #fff; border: none; padding: 0; color: #000; }
  button.info { top: 45px; }
  html.fullscreen button.fullscreen { display: block !important; }
  ul.inventory, ul.pharmacy, .distance, .piggybank, .clock, button.fire, button.center { display: block; position: absolute; }
  ul.inventory, ul.pharmacy { padding: 0; margin: 0; overflow: auto; color: #fff; }
    ul.inventory li, ul.pharmacy li { display: block; position: relative; width: 2.5rem; height: 2.5rem; line-height: 2rem; text-align: center; padding: .2rem; background-color: #00bcd4; }
  ul.inventory { left: 9px; top: 5vh; width: 3rem; max-height: 90vh; }
    ul.inventory li:first-child { border-top-left-radius: .5rem; }
    ul.inventory li:last-child { border-bottom-left-radius: .5rem; border-bottom-right-radius: .5rem; }
  ul.pharmacy { left: 58px; top: 5vh; }
    ul.pharmacy li { float: left; }
    ul.pharmacy li:last-child { border-top-right-radius: .5rem; border-bottom-right-radius: .5rem; }
  .distance { left: 58px; right: 55px; bottom: 5vh; height: 2rem; border: 1px solid #00bcd4; border-radius: .5rem; overflow: visible; background-image: linear-gradient(90deg, #4caf50 0%, #4caf50 40%, #ffeb3b 60%, #ffeb3b 65%, #f44336 85%, #f44336 100%); }
  .distance:before { content: ""; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; border-radius: inherit; overflow: hidden; background-size: 25% 50%, 25% 25%, 2.5% 12.5%; background-position: 0 100%, 12.5% 100%, 0 100%; background-repeat: repeat-x; background-image: linear-gradient(90deg, #424242 0, #424242 1%, transparent 1%, transparent 99%, #424242 99%, #424242 100%), linear-gradient(90deg, #424242 0, #424242 1%, transparent 1%, transparent 99%, #424242 99%, #424242 100%), linear-gradient(90deg, #424242 0, #424242 10%, transparent 10%, transparent 90%, #424242 90%, #424242 100%); }
    .distance label { display: block; position: absolute; font-size: .7rem; line-height: .7rem; padding: 2px 5px; color: #424242; transform: translate(-50%, 0); }
    .distance label:before { content: attr(for); }
    .distance label[for="200"] { left: 0%; }
    .distance label[for="150"] { left: 25%; }
    .distance label[for="100"] { left: 50%; }
    .distance label[for="50"] { left: 75%; }
    .distance .pin { position: absolute; top: -.8rem; width: 0; height: 0; overflow: visible; font-size: 1.5rem; color: #303f9f; transform: rotate(60deg) translate(.25rem, -.5rem); text-shadow: -.5px -.5px .5px #fff, .5px -.5px .5px #fff, -.5px .5px .5px #fff, .5px .5px .5px #fff; transition: right .2s; }
    .distance .pin:before { content: "\E808" !important; }
    .distance .pin.self { text-shadow: -1px -1px .5px #fff, 1px -1px .5px #fff, -1px 1px .5px #fff, 1px 1px .5px #fff; }
  .piggybank, .clock, button.fire, button.center { background: #fff; border: none; border-radius: .5rem; text-align: center; color: #333; line-height: 1.5em; }
  .piggybank { right: 55px; top: 10px; padding: 0 1rem; }
  .piggybank:before { content: "$ "; }
  .clock { right: 9px; bottom: 95px; width: 46px; height: 1.5em; }
  div.info { display: none; position: absolute; top: 5vh; width: 90vw; max-width: 540px; max-height: 90vh; left: 50vw; transform: translate(-50%, 0); padding: 5vh 24px; background: #00bcd4; border-radius: .5rem; color: #fff; overflow: visible; }
    div.info button { position: absolute; top: 2vh; padding: 0; border: none; margin: 0; }
    div.info button.close { right: 12px; }
    div.info label { display: block; position: absolute; top: -2vh; padding: 5px 10px; background: #00bcd4; border-radius: .5rem; cursor: pointer; }
    div.info label.explanation { left: 24px; }
    div.info label.tips { left: 80px; }
    div.info label.tips i { transform: rotate(180deg); }
    div.info input[name="info-tab"] { position: absolute; left: -999999px; top: -999999px; visibility: hidden; }
    div.info section { position: relative; float: left; width: 0; height: auto; max-height: 100%; overflow: auto; transition: width .4s; }
    div.info input:checked + section { width: 99%; }
      div.info ul { padding-left:  10px; }
        div.info li { padding-bottom: 10px; list-style-type: "- "; }
  button.fire { display: none; right: 9px; bottom: 130px; width: 46px; height: 46px; line-height: 46px; }
    button.fire i { font-size: 2rem; color: #e91e63; }
  button.center { left: 58px; bottom: 70px; width: 2.5rem; height: 2.5rem; }
    button.center i { line-height: 2.5rem; }
#gameover { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0, 0, 0, .75); }
  #gameover .modal { width: 100%; max-width: 540px; padding: 5vh 0; margin: 10vh auto 0; background-color: #00bcd4; border-radius: .5rem; text-align: center; }
    #gameover .modal > :first-child { margin-top: 0; }
    #gameover h3 { text-transform: uppercase; }
    #gameover strong, #gameover em { font-weight: normal; font-style: normal; }
      #gameover .modal p { width: 90%; max-width: 320px; margin: 1.5em auto; overflow: hidden; }
      #gameover .modal p em { float: left; clear: left; }
      #gameover .modal p strong { float: right; clear: right; }
.outdated { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
  .outdated:before { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .75); }
  .outdated p { display: block; position: relative; width: 100%; max-width: 540px; padding: 5vh 5vw; margin: 10vh auto 0; background-color: #00bcd4; border-radius: .5rem; text-align: center; }

/*  Small devices (landscape phones, 576px and up) */
@media(min-width: 576px){
      form.location button, form.location input { width: 47.5%; max-width: 250px; float: right; }
      form.location button:first-child, form.location input:first-child { float: left; }
      form.controls input { max-width: 15rem; }
      form.controls button, form.controls input { width: 47.5%; max-width: 250px; }
  .distance:before { background-size: 10% 50%, 10% 25%, 1% 12.5%; background-position: 0 100%, 5% 100%, 0 100%; }
}

/* Medium devices (tablets, 768px and up) */
@media(min-width: 768px){
  .distance:before { background-size: 5% 50%, 5% 25%, .5% 12.5%; background-position: 0 100%, 2.5% 100%, 0 100%; }
}

/* Large devices (desktops, 992px and up) */
@media(min-width: 992px){
    .googlemap { height: 80vh; }
}

/* Extra large devices (large desktops, 1200px and up) */
@media(min-width: 1200px){
  
}



.material-icons.rotating { animation: rotate-icon 2s linear infinite; }

@keyframes rotate-icon {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

@keyframes glow-red {
  from  { text-shadow: 0 0 0 #fff, 0 0 0 #fff, 0 0 0 #fff, 0 0 0 #ff1177, 0 0 0 #ff1177, 0 0 0 #ff1177, 0 0 0 #ff1177, 0 0 0 #ff1177; }
  to    { text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177, 0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177; }
}

@keyframes glow-blue {
  from  { text-shadow: 0 0 0 #fff, 0 0 0 #fff, 0 0 0 #fff, 0 0 0 #00bcd4, 0 0 0 #00bcd4, 0 0 0 #00bcd4, 0 0 0 #00bcd4, 0 0 0 #00bcd4; }
  to    { text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #00bcd4, 0 0 35px #00bcd4, 0 0 40px #00bcd4, 0 0 50px #00bcd4, 0 0 75px #00bcd4; }
}

@keyframes glow-orange {
  from  { text-shadow: 0 0 0 #fff, 0 0 0 #fff, 0 0 0 #fff, 0 0 0 #ff3d00, 0 0 0 #ff3d00, 0 0 0 #ff3d00, 0 0 0 #ff3d00, 0 0 0 #ff3d00; }
  to    { text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff3d00, 0 0 35px #ff3d00, 0 0 40px #ff3d00, 0 0 50px #ff3d00, 0 0 75px #ff3d00; }
}

@keyframes glow-green {
  from  { text-shadow: 0 0 0 #fff, 0 0 0 #fff, 0 0 0 #fff, 0 0 0 #4caf50, 0 0 0 #4caf50, 0 0 0 #4caf50, 0 0 0 #4caf50, 0 0 0 #4caf50; }
  to    { text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #4caf50, 0 0 35px #4caf50, 0 0 40px #4caf50, 0 0 50px #4caf50, 0 0 75px #4caf50; }
}